*{
    box-sizing: border-box; 
}

body {
    font-family: 'Bungee', cursive;
    height: 100vh; 
    background-image: url('../images/Ice.jpg'); 
    background-size: cover;
}

h1 {
    font-size: 80px; 
    text-align: center; 
    color: #CC1830; 
    text-shadow: 4px 2px black;
    margin: 0; 
}

#moveMsg {
    display:flex; 
    flex-direction: column; 
    font-size: 30px;  
    text-transform: uppercase; 
    font-weight: bold; 
    color: #02214B; 
    text-shadow: 1px 1px black;

}

#winMsg {
    margin-left: 90px; 
}

#winChart {
    display:flex; 
    flex-direction: column; 
    height:250px; 
    width: 200px; 
    border: 3px solid #02214B; 
    border-radius: 5px; 
    
}

#reels div {
    height: 250px; 
    width: 150px; 
    margin-top: 100px;  
    margin-right: 20px; 
    margin-bottom: 100px; 
    background-repeat: no-repeat;
    background-size: contain;
}

#reels {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
}

#spin-btn {
    font-family: 'Bungee', cursive;
    height: 80px;
    width: 150px; 
    margin-left: 700px; 
    margin-right: auto; 
    margin-bottom: 50px; 
    background: linear-gradient(90deg, #CC1830, #02214B); 
    transform: translate(-50%, -50%) perspective(500px)rotateY(15deg); 
    text-align: center;  
    line-height: 50px; 
    font-size: 20px; 
    text-shadow: 6px 3px 2px rgba(0,0,0,.2); 
    color: #fff; 
    text-decoration: none;  
    border-radius: 45px;  
    letter-spacing: 3px; 
    transition: .5s;
    overflow: hidden;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1); 
   
}

#spin-btn:focus {
    outline: none; 
}

#spin-btn:before {
    content: ''; 
    position: absolute; 
    transform: translate(-50%, -50%) perspective(500px) rotateY(-15deg);
    top: 0; 
    left: -100%; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(90deg, transparent, #fff, transparent); 
    transition: .5s;
}

#spin-btn:hover {
    transform: translate(-50%, -50%) perspective(500px); 
    text-shadow: -6px 3px 2px rgba(0,0,0,.2); 
}

#spin-btn:hover:before {
    left: 100%; 
}

#bet-btns {
    display: flex;
    justify-content: space-around;
    width: 40em;
    margin-bottom: 500px; 
    margin-left: 450px; 
    height: 60px; 
}

.cred { 
    font-family: 'Bungee', cursive;
    border-radius: 20px; 
    background: linear-gradient(90deg, #CC1830, #02214B); 
    transform: translate(-50%, -50%) perspective(500px); 
    color: #fff; 
    font-size: 13px; 
    text-shadow: 6px 3px 2px rgba(0,0,0,.2);
    letter-spacing: 1px; 
    transition: .5s;
    overflow: hidden;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1); 
    text-transform: uppercase;
}

.cred:focus {
    outline: none; 
}

.cred:before {
    content: ''; 
    position: absolute; 
    transform: translate(-50%, -50%) perspective(500px);
    top: 0; 
    left: -100%; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(90deg, transparent, #fff, transparent); 
    transition: .5s;
}

.cred:hover {
    transform: translate(-50%, -50%) perspective(500px); 
    text-shadow: -6px 3px 2px rgba(0,0,0,.2); 
}

.cred:hover:before {
    left: 100%; 
}

#move {
    margin-bottom: 500px; 
}

.ovi {
    position: absolute; 
    display:flex;  
    left: 200px; 
    bottom: 200px;
    animation-name: skate; 
    animation-duration: 3s; 
    animation-fill-mode: forwards;
}

.oshie {
    position: absolute; 
    display:flex;  
    left: 200px; 
    bottom: 200px;
    animation-name: skate; 
    animation-duration: 3s; 
    animation-fill-mode: forwards;
}

#oshie {
    width: 450px; 
    height: 500px; 
}

#tom {
    position: absolute; 
    height: 400px; 
    width: 700px; 
    left:350px;
    bottom: 200px; 
    border: 4px solid #02214B; 
    border-radius: 6px; 
}

@keyframes skate {
    from{transform: translateX(0)}
    to{transform: translateX(1500px)}
}

.hidden {
    display: none; 
}

