*{
    box-sizing: border-box; 
    font-family: 'Alfa Slab One', cursive;

}

body {
    height: 100vh; 
}

#reels div {
    height: 200px; 
    width: 100px; 
    margin-top: 200px;  
    margin-right: 40px; 
    background-repeat: no-repeat;
    background-size: contain;
}

#reels {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    margin-right: 30px; 

}

#winMsg {
    margin-left: 90px; 
}

#btn-div {
    text-align: center;
}

#spin-btn {
   
    height: 80px;
    width: 150px; 
    margin-left: 100px; 
    margin-right: auto; 
    margin-bottom: 50px; 
    background: linear-gradient(90deg, #CC1830, #02214B); 
    transform: translate(-50%, -50%) perspective(500px)rotateY(15deg); 
    text-align: center;  
    line-height: 50px; 
    font-size: 20px; 
    text-shadow: 6px 3px 2px rgba(0,0,0,.2); 
    color: #fff; 
    text-decoration: none;  
    border-radius: 45px;  
    letter-spacing: 3px; 
    transition: .5s;
    overflow: hidden;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1); 
   
}

#spin-btn:focus {
    outline: none; 
}

#spin-btn:before {
    content: ''; 
    position: absolute; 
    transform: translate(-50%, -50%) perspective(500px) rotateY(-15deg);
    top: 0; 
    left: -100%; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(90deg, transparent, #fff, transparent); 
    transition: .5s;
}

#spin-btn:hover {
    transform: translate(-50%, -50%) perspective(500px); 
    text-shadow: -6px 3px 2px rgba(0,0,0,.2); 
}

#spin-btn:hover:before {
    left: 100%; 
}

#btn-div {
    text-align: center; 
}

#bet-btns {
    display: flex;
    justify-content: space-around;
    width: 40em;
    margin: 0 auto;
    height: 60px; 
}

#moveMsg {
    display:flex; 
    flex-direction: column; 
    margin-left: 1000px; 
}

.cred { 
    border-radius: 20px; 
    background: linear-gradient(90deg, #CC1830, #02214B); 
    transform: translate(-50%, -50%) perspective(500px); 
    color: #fff; 
    font-size: 13px; 
    text-shadow: 6px 3px 2px rgba(0,0,0,.2);
    letter-spacing: 1px; 
    transition: .5s;
    overflow: hidden;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1); 
    text-transform: uppercase;
}

.cred:focus {
    outline: none; 
}

.cred:before {
    content: ''; 
    position: absolute; 
    transform: translate(-50%, -50%) perspective(500px);
    top: 0; 
    left: -100%; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(90deg, transparent, #fff, transparent); 
    transition: .5s;
}

.cred:hover {
    transform: translate(-50%, -50%) perspective(500px); 
    text-shadow: -6px 3px 2px rgba(0,0,0,.2); 
}

.cred:hover:before {
    left: 100%; 
}

.ovi {
    position: absolute; 
    display:flex;  
    left: 200px; 
    bottom: 200px;
    animation-name: skate; 
    animation-duration: 3s; 
    animation-fill-mode: forwards;
}

.oshie {
    position: absolute; 
    display:flex;  
    left: 200px; 
    bottom: 200px;
    animation-name: skate; 
    animation-duration: 3s; 
    animation-fill-mode: forwards;
}

#oshie {
    width: 450px; 
    height: 500px; 
}

#tom {
    position: absolute; 
    left:480px;
    bottom: 300px; 
    border: 2px solid #02214B; 
    border-radius: 6px; 
}

@keyframes skate {
    from{transform: translateX(0)}
    to{transform: translateX(1500px)}
}

#refresh-btn {
    color:black; 
    font-size: 13px; 
    border: 2px solid #CC1830;  
    padding: 14px 20px; 
    text-transform: uppercase; 
}


.hidden {
    display: none; 
}

